.container {
  height: calc(100vh - 100px);
  background-color: #d1411e;
  overflow: hidden;
  position: relative;
}

.imgSlider {
  object-fit: cover;
}

.wrapper {
  width: 300vw;
  height: 100%;
  display: flex;
  transition: all 1.5s ease-in-out;
}

.imgContainer {
  width: 100vw;
  height: 100%;
  position: relative;
}

.arrowContainer {
  position: absolute;
  cursor: pointer;
  z-index: 2;
  width: 4rem;
  height: 4rem;
  bottom: 0%;
  transform: translateY(-300%);
  margin: auto;
}

@media screen and (max-width: 480px) {
  .container {
    height: 50vh;
  }

  .arrowContainer {
    transform: translateY(-150%);
  }
}
